# created by virtualenv automatically
bin
lib
bin/*
lib/*
.env
*.md
!README.md
*.un~
*~
Scripts/*
Lib/*
.ipynb_checkpoints/*
pyvenv.cfg
etc/*
share/*
old.py
tmp/*
tmp
prompts
prompts/*
errors
errors/*
